@use '../abstracts/variables' as var;
@use '../abstracts/mixings' as mix;

.popup {
    height: 100vh;
    width: 100%;
    background-color: rgba(var.$color-black, .8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;

    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    @supports(backdrop-filter: blur(8px)) or (-webkit-backdrop-filter: blur(8px)) {
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        background-color: rgba(var.$color-black, .4);
    }

    &__content {
        @include mix.centerHorizVertic;
        // height: 75%;
        width: 75%;
        background-color: var.$color-white;
        box-shadow: 0 2rem 4rem rgba(var.$color-black, .2);
        border-radius: 5px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.1);
        transition: all .4s .2s;

        @include mix.respond(tab-land) {
            width: 80%;
            height: fit-content;
            display: block;
        }

        @include mix.respond(phone) {
            height: 55%;
        }
    }

    &__left {
        width: 33.333333%; // 1/3
        display: table-cell; //  all the brother elements with this have the same heigth

        @include mix.respond(tab-land) {
            width: 100%;
            overflow: hidden;
            display: flex;
    
            img {
                width: 50%;
                height: auto;
                object-fit: cover;
                flex: 1; 
            }
        }

        @include mix.respond(phone) {
            height: 40%;

            img:nth-child(2) {
                display: none
            }
        }
    }

    &__right {
        width: 66.6666667%; // 2/3
        display: table-cell; // all the brother elements with this have the same heigth
        vertical-align: middle;
        padding: 3rem 5rem;

        @include mix.respond(tab-land) {
            display: block;
            margin: 0 auto;
            text-align: center;
        }

        @include mix.respond(phone) {
            width: 100%;
        }
    }

    &__img {
        display: block;
        width: 100%;
        
        @include mix.respond(tab-land) {
            display: inline-block;
            width: 48%;
            vertical-align: top;
        }
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid var.$color-grey-light-2;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid var.$color-grey-light-2;

        -moz-hypens: auto;
        -ms-hypens: auto;
        -webkit-hypens: auto;
        hyphens: auto;

        @include mix.respond(tab-land) {
            column-count: 1;
        }
    }

    // Open states of the popup
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link,
        &:visited {
            color: var.$color-grey-dark-1;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            line-height: 1;
            transition: all .2s;
        }

        &:hover {
            color: var.$color-primary;
        }
    }
}